[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if splashed and not unsplashed then table.insert(final_scoring_hand, G.play.cards[i]) end"
position = "after"
match_indent = true
payload = '''
  for i = #final_scoring_hand, 1, -1 do
    if not SMODS.has_no_suit(final_scoring_hand[i]) then
      G.GAME.paperback.last_scored_suit = final_scoring_hand[i].base.suit
      break
    end
  end
'''
